extends layout

append preload
  script
    var helpers = {pages: !{JSON.stringify(pages)}};

block content
  header
    #header
      a(href="#/") 
        img(src="/images/me.jpg")
      h1: a(href="#/") Max Thayer
      p
        em Do what you love, and let your works speak for you.
  #main
    .projects
      h2 Projects
      ul
    .stories
      h2 Stories
      ul
    .games
      h2 Games
      ul
    .etc
      h2 Etc.
      ul

  #detail

block templates
  script#page-template(type="text/template")
    h3#back: a(href="#/") ^
    h1 <%= title %>
    <%= content %>

  script#item-template(type="text/template")
    a(href!="<%= url %>") <%= title %>

append scripts
  != js("build.js")