doctype 5
html
  head
    title Max Thayer
    block style
      - css.root = "stylesheets";
    block preload
  body#top
    block content
    block templates
    block scripts
      - js.root = "javascripts";